<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Analytics</h1>

      <div class="card mb-4">
        <div class="card-body">
          <div class="d-flex flex-row justify-content-between align-items-start">
            <h4 class="card-title">Last Week Search Analytics</h4>
            <div>
              <span class="badge bg-primary rounded-pill mb-2">N.of searched: <%= searched %></span>
              <span class="badge bg-primary rounded-pill mb-2">N.of found result: <%= found %></span>
            </div>
          </div>
          <hr>

          <div class="row">
            <div class="col-md-6">
              <h5 class="card-subtitle mb-2 text-muted">Your top search Last Week</h5>
              <ul class="list-group mb-4">
                <% last_week_search_analytics.each do |search_analytics_date| %>
                  <li class="list-group-item">
                    <%= search_analytics_date.search_analytic.query %> (<%= search_analytics_date.hits %>)
                  </li>
                  <% end %>
              </ul>
            </div>

            <div class="col-md-6">
              <h5 class="card-subtitle mb-2 text-muted">Global Last Day Search Analytics</h5>
              <ul class="list-group mb-4">
                <% global_last_day_search_analytics.each do |search_analytic| %>
                  <li class="list-group-item">
                    <%= search_analytic.query %> (<%= search_analytic.searched %>)
                  </li>
                  <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <%= link_to 'Back to home' , '/' , class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>