<h1>Real-Time Search</h1>

<%= form_with url: '/search', method: :post, id: 'search-form' do |form| %>
    <%= form.text_field :query, id: 'search-input' , placeholder: 'Search articles...' , autocomplete: 'off' %>
    <%= form.submit 'Search' , id: 'search-button' %>
<% end %>

<div id="search-results"></div>
<%= link_to 'Analytics', '/analytics' %>

<h2>trending search queries in the past 24 hour</h2>

<ul>
  <% @last_week_search_analytics.each do |search_analytic| %>
    <li><%= search_analytic.query %></li>
  <% end %>
</ul>


<%= javascript_include_tag 'search' %>


